article header {
  margin: 0px 0px 32px;
  display: block;
  padding: 0px;
  border-bottom: 2px solid rgb(230, 236, 241);
}

article {
    flex: 1;
}

.article-footer {
    border-top: 1px solid rgb(230, 236, 241);
    padding-top: 6px;
    justify-self: flex-end;
}

.main-content {
    display: flex!important;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.article-meta {
    display: flex;
    justify-content: space-between;
}

.article-meta .edit-on-github {
    color: rgb(157, 170, 182);
    text-decoration: none;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms ease, border-color 250ms ease;
}

.edit-on-github img {
    height: 1.3em;
    width: auto;
    vertical-align: middle;
    margin-left: 4px;
}

.edit-on-github:hover {
    color: var(--color-primary);
}