.internal-navigation {
  overflow: hidden auto;
  margin: 0px;
  display: block;
  position: relative;
}
.internal-navigation-wrapper {
  height: 100%;
  margin: 0px;
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
}

.internal-navigation-wrapper nav {
  margin-top: 24px;
}

.internal-navigation-wrapper nav a {
  display: block;
  text-decoration: none;
  margin: 0px 0px 8px;
  display: flex;
  padding: 0px 0px 0px 24px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(157, 170, 182);
  position: relative;
  transition: color 250ms ease-in;
  line-height: 20px;
}

.internal-navigation-wrapper nav a.depth-3 {
  padding-left: 36px;
}

.internal-navigation-wrapper nav a:hover {
  color: var(--color-primary);
}
.internal-navigation-wrapper nav a.active {
  color: var(--color-primary);
}

.internal-navigation-wrapper nav a.active::before {
  left: 0px;
  height: 100%;
  content: " ";
  position: absolute;
  border-left: 2px solid;
  border-color: var(--color-primary);
}

.internal-navigation::before {
  top: 0px;
  left: 0px;
  height: 100%;
  content: " ";
  position: absolute;
  border-left: 1px solid rgb(230, 236, 241);
}

.internal-navigation-header {
  color: rgb(157, 170, 182);
  margin: 0px 0px 8px;
  display: flex;
  padding: 0px 0px 0px 24px;
  cursor: pointer;
  justify-content: flex-start;
}

.internal-navigation-header svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.internal-navigation-header span {
  font-size: 10px;
  margin-left: 8px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}


#scroll-to-top-btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease;
  font-size: 16px;
text-align: center;
text-decoration: none;
position: fixed;
bottom: 30px;
right: 30px;
z-index: 100;
opacity: 0;
transform: translateY(100px);
transition: all .5s ease;
padding: 12px;
}

.long-page #scroll-to-top-btn.showBtn {
  opacity: 1;
  transform: translateY(0)
}

.long-page #back-to-top-enter-target {
  position: absolute;
  top: 130vh;
  left: 0;
  width: 100%;
  height: 4px;
  pointer-events: none;
  background-color: transparent;
}

.long-page #back-to-top-exit-target {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 4px;
  pointer-events: none;
  background-color: transparent;
}


