
.hamburger-line-01, .hamburger-line-02, .hamburger-line-03 {
    width: 22.5px;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    background-color: #333;
    transform-origin: center;
}

.hamburger-line-01, .hamburger-line-03 {
    height: 2.6px;
}

.hamburger-button {
    background-color: transparent;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    outline: none;
}

.hamburger-line-01, .hamburger-line-03 {
    
    transform-style: preserve-3d;
}

@media screen and (min-width: 991px) {
    .hamburger-button {
        display: none;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 70px);
    background-color: white;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
    justify-content: space-between;
}

.mobile-menu.closed {
   transform: translateY(-100%);
   z-index: -1;
}

.mobile-menu.open {
    transform: translateY(0%);
}

body[data-layout="home"].menu-open {
    overflow: hidden;
}

.mobile-links a {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0;
    padding-left: 20px;
    color: #303030;
}

.mobile-links {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.mobile-menu .main {
    width: 100%;
    border-radius: 0;
    flex: 0 1;
    padding: 20px;
    text-align: left;
}

.mobile-menu .dropdown-link img {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -10px;
}

.mobile-menu .disabled {
    opacity: 0.5;
}