.white-section {
    background-color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-section.transparent {
    background-color: transparent;
    margin: auto;
}

.cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1100px;
}

.card {
    border-radius: 30px;
    border: 1px solid #8351FF;
    padding: 40px;
    background-color: #312058;
}

.card__dark {
    background: transparent;
}

.card .main-button {
    display: inline-block;
}

.card h3 {
    margin: 22px 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -3.5%;
    color: white;
}

.card p {
    line-height: 32px;
    font-size: 22px;
    letter-spacing: -2%;
    color: white;
}

@media screen and (max-width: 991px) {
    .white-section {
        padding: 50px;
    }
}

@media screen and (max-width: 767px) {
    .white-section {
        padding: 40px 20px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 479px) {
    .white-section {
        padding: 40px 20px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}