header.doc {
  width: 100%;
  z-index: 20;
  position: relative;
  box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
  border-bottom: 1px solid rgb(212, 218, 223);
  //background-color: rgb(255, 255, 255);
  height: 80px;
}

header.doc .logo svg {
  max-width: 80%;
  height: 45px;
  width: auto;
  margin-left: 32px;
}

header.doc .logo a{
  justify-content: flex-start;
}