.navigation {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 14;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 3%;
    padding-left: 3%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
}

.navigation-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-height: 70px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-container > * {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .logo {
    width: 90px;
    margin-top: 8px;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.navigation .logo:hover {
    transform: scale(0.97);
    opacity: 0.7;
}

.navigation .main {
    padding: 7px 15px;
    border-style: none;
    border-width: 2px;
    border-color: #6f39f8;
    border-radius: 100px;
    background-color: #8351ff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.035em;
    height: auto;
}
.navigation .main:hover {
    color: #fff;
    opacity: 0.7;
}

.navigation a, .dropdown > div {
    color: #a0a0a0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.035em;
    text-decoration: none;
    backface-visibility: hidden;
    transition: all 300ms ease-in-out;
    padding: 0 15px;
}

.navigation a:hover, .dropdown:hover > div {
    color: #3c3c3b;
}


.navigation-dropdown-wrapper {
    height: 130px;
    min-width: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    display: grid;
    overflow: hidden;
    max-width: 880px;
    min-width: 140px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px -19px 35px 0 rgb(32 53 90 / 8%), 11px 11px 30px -10px rgb(32 53 90 / 15%);
    position: relative;
}

.navigation-dropdown-parent::before {
    content:"\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: -16px;
    z-index: 9999999999;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

a.dropdown-link {
    height: 100%;
    min-width: 200px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 25;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 200px;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #f3f3f3;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    margin-bottom: 2px;
    color: #303030;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.dropdown, .dropdown * {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-link img {
    padding: 6px;
    width: 90px;
    height: auto;
}

.dropdown::after {
    content: " ";
    height: 70px;
    width: 100%;
    position: absolute;
}

.dropdown:hover::after {
    height: 150px;
    top: 55px;
}

.dropdown-link.disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.dropdown-link.disabled * {
    cursor: not-allowed!important;
}

.dropdown-link:hover {
    background-color: #fafafa;
}

.navigation-dropdown-parent {
    transform-style: preserve-3d;
    position:absolute;
    top: 85px;
    animation: closeDropdown 0s ease;
    animation-fill-mode: forwards;
    pointer-events: none;
    visibility: hidden;
}

.dropdown:hover .navigation-dropdown-parent {
    animation: openDropdown 0.3s ease;
    animation-fill-mode: forwards;
    pointer-events: initial;
}


@keyframes openDropdown {
    from {
        display: none;
        opacity: 0;
        transform: translate3d(0px, 15px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    to {
        opacity: 1;
        display: block;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
}

@keyframes closeDropdown {
    from {
        opacity: 1;
        display: block;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    to {
        display: none;
        opacity: 0;
        transform: translate3d(0px, 15px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    
}

@media screen and (max-width: 991px) {
    .only-on-desktop {
        display: none;
    }


}

header.udesly-doc-homepage-header {
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
}

.logo-home path, .hover-color-logo path {
    transition: fill 0.3s ease-in;
}

.logo-home:hover [fill="#3C3C3B"], .hover-color-logo:hover [fill="#3C3C3B"] {
    fill: #919191;
}