footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  padding: 100px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  background-color: white;
}

.footer-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 960px;
    margin-bottom: 100px;
    padding: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #f8f8fa;
}

@media screen and (min-width: 1440px) {
  .banner-head {
    font-size: 30px;
  }
}

.banner-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Jost, sans-serif;
    color: #3c3c3b;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.046em;
}

.nanum.banner {
  padding: 0px 10px;
  background-color: transparent;
  font-size: 35px;
  text-decoration: none;
}
.nanum {
  font-family: 'Nanum Pen Script', sans-serif;
  color: #8351ff;
  font-size: 65px;
  line-height: 1;
  text-decoration: underline;
}

.main-button {
  margin-right: 0px;
  padding: 15px 22px;
  border-style: solid;
  border-width: 2px;
  border-color: #8351ff;
  border-radius: 2.6rem;
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Jost, sans-serif;
  color: #8351ff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.main-button.full:hover {
  opacity: 0.7;
}
.main-button.full {
  display: inline-block;
  background-color: #8351ff;
  box-shadow: 1px 1px 2px -1px #818181;
  color: #fff;
}
.main-button:hover {
  background-color: #8351ff;
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
  color: #fff;
}

.footer-grid {
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}


#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77a8-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77aa-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ac-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ae-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b0-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b2-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b4-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b6-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b8-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ba-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77bc-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77be-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c0-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c2-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c4-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c6-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c8-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ca-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77cc-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ce-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77d0-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77d2-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77d4-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77d6-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77d8-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77da-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-_80788af4-5cf9-c12f-440e-54f2a399d8da-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77dc-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77de-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e0-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e4-c6be77a6 {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-e4e6843e-c7c1-7b21-41f1-7919a01bc5da-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_9b8c1938-21b1-aee0-61da-184cded1eb64-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-e4e6843e-c7c1-7b21-41f1-7919a01bc5de-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-e4e6843e-c7c1-7b21-41f1-7919a01bc5af-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_0be74083-6234-eba8-4586-d1d9a6dfce8c-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_2c111973-20e0-ccba-0d7c-d57deb853c27-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9c595ff2-bf5b-a727-6f20-6051797b2e36-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_1ccab1ab-f812-258f-8a6f-83eb38b3bf42-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_1ccab1ab-f812-258f-8a6f-83eb38b3bf48-a01bc596 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f254f-0377437a {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2552-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2555-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f255a-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2560-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2565-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f256a-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f256f-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2574-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2576-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2578-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f257a-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f257c-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f257e-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2580-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2582-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2584-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2588-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f258a-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f258c-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2590-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2592-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2594-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f2598-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f259c-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25a0-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25a2-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25a4-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25a6-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25a8-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25aa-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25ac-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25ae-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25b0-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25b5-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25ba-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25bf-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25c6-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25cb-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
}

#w-node-bd67cba5-9460-3e28-4d0b-bcdcff6f25cf-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
}

#w-node-_68db94b4-7e9c-1ee3-f62e-6ec2c6222c11-0377437a {
  -ms-grid-row: span 3;
  grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_8ed4e040-d645-9820-e189-382070601de3-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_8ed4e040-d645-9820-e189-382070601ded-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_8ed4e040-d645-9820-e189-382070601e04-0377437a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_12fe13ea-b25e-5639-f483-68f14b8f6083-b0774380 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7bacbf75-f455-b980-f15d-5d39a096e0ed-1e7743a3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_7bacbf75-f455-b980-f15d-5d39a096e0f6-1e7743a3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_7bacbf75-f455-b980-f15d-5d39a096e0ff-1e7743a3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_7bacbf75-f455-b980-f15d-5d39a096e108-1e7743a3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-f382d426-fb66-dca2-5c1b-166eefd65175-ba7743a7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-f382d426-fb66-dca2-5c1b-166eefd6517b-ba7743a7 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-c35e68e0-2df5-a631-1b24-439f48be8aae-1d7743a9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-dd33a5ef-1845-5104-3b1b-355aa73d4cde-2a7743ac {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (min-width: 1440px) {
  #w-node-e4e6843e-c7c1-7b21-41f1-7919a01bc5af-a01bc596 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_0be74083-6234-eba8-4586-d1d9a6dfce8c-a01bc596 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 0;
    grid-column-end: 2;
  }

  #w-node-_2c111973-20e0-ccba-0d7c-d57deb853c27-a01bc596 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
  }

  #w-node-_9c595ff2-bf5b-a727-6f20-6051797b2e36-a01bc596 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ae-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b0-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b2-c6be77a6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ba-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 10;
    grid-row-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 11;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77bc-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 10;
    grid-row-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 11;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77be-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 11;
    grid-row-start: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c0-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c2-c6be77a6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 10;
    grid-row-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 11;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c4-c6be77a6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 11;
    grid-row-start: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c6-c6be77a6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c8-c6be77a6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 13;
    grid-row-start: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ca-c6be77a6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 14;
    grid-row-start: 14;
    -ms-grid-row-span: 1;
    grid-row-end: 15;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77cc-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 11;
    grid-row-start: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
  }

  #w-node-_80788af4-5cf9-c12f-440e-54f2a399d8da-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e0-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 16;
    grid-row-start: 16;
    -ms-grid-row-span: 1;
    grid-row-end: 17;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e4-c6be77a6 {
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 16;
    -ms-grid-row: 15;
    grid-row-start: 15;
  }

  #w-node-c3d939c6-7a23-8067-0481-67a4026f59fe-6477432a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_49dd48a0-a45e-43b6-260e-e7817ff7b817-6477432a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_0bc725e2-3985-7458-7087-98d34b8b8e9b-0377437a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_129f6600-add0-c058-dd80-03077297d5e5-0377437a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-f382d426-fb66-dca2-5c1b-166eefd65175-ba7743a7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
  }

  #w-node-f382d426-fb66-dca2-5c1b-166eefd6517b-ba7743a7 {
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ac-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ae-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b0-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b2-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77b8-c6be77a6 {
    -ms-grid-row-span: 1;
    grid-row-end: 12;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 11;
    grid-row-start: 11;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ba-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77bc-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 13;
    grid-row-start: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77be-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 14;
    grid-row-start: 14;
    -ms-grid-row-span: 1;
    grid-row-end: 15;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c0-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 15;
    grid-row-start: 15;
    -ms-grid-row-span: 1;
    grid-row-end: 16;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c2-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 13;
    grid-row-start: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c4-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 14;
    grid-row-start: 14;
    -ms-grid-row-span: 1;
    grid-row-end: 15;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c6-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 15;
    grid-row-start: 15;
    -ms-grid-row-span: 1;
    grid-row-end: 16;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77c8-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 16;
    grid-row-start: 16;
    -ms-grid-row-span: 1;
    grid-row-end: 17;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ca-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 17;
    grid-row-start: 17;
    -ms-grid-row-span: 1;
    grid-row-end: 18;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77cc-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77ce-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77d0-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 10;
    grid-row-start: 10;
    -ms-grid-row-span: 1;
    grid-row-end: 11;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e0-c6be77a6 {
    -ms-grid-row: 19;
    grid-row-start: 19;
    -ms-grid-row-span: 1;
    grid-row-end: 20;
  }

  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e4-c6be77a6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 18;
    grid-row-start: 18;
    -ms-grid-row-span: 1;
    grid-row-end: 19;
  }

  #w-node-c3d939c6-7a23-8067-0481-67a4026f59fe-6477432a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_49dd48a0-a45e-43b6-260e-e7817ff7b817-6477432a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0bc725e2-3985-7458-7087-98d34b8b8e9b-0377437a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_129f6600-add0-c058-dd80-03077297d5e5-0377437a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-b57c3695-9f02-7798-0177-4788b5976463-dc77437f {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_12fe13ea-b25e-5639-f483-68f14b8f6083-b0774380 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-f382d426-fb66-dca2-5c1b-166eefd6517b-ba7743a7 {
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-df59e700-c644-f8f7-7bcf-397a64ae6c77-847743c2 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_983e27fd-680d-9c5e-c6f4-aace9ad8da2e-e804245d {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7dc9558a-060a-59aa-1b7e-3223c6be77e0-c6be77a6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 19;
    grid-row-start: 19;
    -ms-grid-row-span: 1;
    grid-row-end: 20;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-f382d426-fb66-dca2-5c1b-166eefd6517b-ba7743a7 {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }
}

.footer-title {
  max-width: 560px;
  margin-bottom: 0px;
  color: #535353;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.footer-links {
  display: block;
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
  font-family: Jost, sans-serif;
  color: #a0a0a0;
  font-size: 15.4px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.014em;
  text-decoration: none;
}

.footer-links:hover {
  color: #3c3c3b;
}

.webflow-banner {
    position: static;
    left: 30px;
    bottom: 30px;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 35px;
    max-width: none;
    margin-right: 0px;
    padding: 0px 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 100px;
    background-color: #f8f8fa;
    -webkit-transition: background-color 400ms ease-in-out;
    transition: background-color 400ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.webflow-text {
  margin-left: 5px;
  color: #3c3c3b;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: none;
}

.webflow-banner:hover {
  background-color: #e6e6e6;
}

.footer-separator {
  width: 100%;
  height: 1px;
  max-width: 1000px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #eee;
}

.copyright-wrap {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1000px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.copyright-text {
  font-family: Jost, sans-serif;
  color: #a0a0a0;
  font-size: 15.4px;
  line-height: 1;
  letter-spacing: -0.014em;
  text-decoration: none;
}

.copyright-text a {
  text-decoration: none;
  color: #9368ff;
}

.info-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.point {
  width: 3px;
  height: 3px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #818181;
}