footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  padding: 100px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 0;
  background-color: transparent;
}

.flex-center {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 960px;
    margin-bottom: 100px;
    padding: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #f8f8fa;
}

@media screen and (min-width: 1440px) {
  .banner-head {
    font-size: 30px;
  }
}

.banner-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Jost, sans-serif;
    color: #3c3c3b;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.046em;
}

.nanum.banner {
  padding: 0px 10px;
  background-color: transparent;
  font-size: 35px;
  text-decoration: none;
}
.nanum {
  font-family: 'Nanum Pen Script', sans-serif;
  color: #8351ff;
  font-size: 65px;
  line-height: 1;
  text-decoration: underline;
}

.main-button {
  margin-right: 0px;
  padding: 10px 22px;
  border-style: solid;
  border-width: 2px;
  border-color: #8351ff;
  border-radius: 2.6rem;
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Jost, sans-serif;
  color: #8351ff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.main-button.full:hover {
  opacity: 0.7;
}
.main-button.full {
  display: inline-block;
  background-color: #8351ff;
  box-shadow: 1px 1px 2px -1px #818181;
  color: #fff;
}
.main-button:hover {
  background-color: #8351ff;
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
  color: #fff;
}

.footer-grid {
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}


.footer-title {
  max-width: 560px;
  margin-bottom: 0px;
  color: #535353;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.footer-links {
  display: block;
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
  font-family: Jost, sans-serif;
  color: #a0a0a0;
  font-size: 15.4px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.014em;
  text-decoration: none;
}

.footer-links:hover {
  color: #3c3c3b;
}

.webflow-banner {
    position: static;
    left: 30px;
    bottom: 30px;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 35px;
    max-width: none;
    margin-right: 0px;
    padding: 0px 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 100px;
    background-color: #f8f8fa;
    -webkit-transition: background-color 400ms ease-in-out;
    transition: background-color 400ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.webflow-text {
  margin-left: 5px;
  color: #3c3c3b;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: none;
}

.webflow-banner:hover {
  background-color: #e6e6e6;
}

.footer-separator {
  width: 100%;
  height: 1px;
  max-width: 1000px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #eee;
}

.copyright-wrap {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1000px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.copyright-text {
  font-family: Jost, sans-serif;
  color: #a0a0a0;
  font-size: 15.4px;
  line-height: 1;
  letter-spacing: -0.014em;
  text-decoration: none;
}

.eclipse-link {
  color: inherit;
}

.info-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.point {
  width: 3px;
  height: 3px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #818181;
}