.tutorials {
    background-color: #F8F8FA;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 100px;
}

.tutorials .main-video {
    max-width: 1100px;
    width: 100%;
}

.plyr--video {
    border-radius: 10px;
    background-color: white;
}

:root {
    --plyr-color-main: #6f39f8;
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
    aspect-ratio: 16/9 !important;
}

.other-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 1100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.other-videos img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.video-thumbnail {
    position: relative;
    cursor: pointer;
}

.video-thumbnail button {
    display: block;
    opacity: 0;
}

.video-thumbnail:hover button {
    opacity: 0.9;
}

.main-button {
    padding: 15px 28px;
    border-style: none;
    border-width: 2px;
    border-color: #6f39f8;
    border-radius: 100px;
    background-color: #8351ff;
    transition: all 300ms ease-in-out;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.035em;
    height: auto;
}

@media screen and (max-width: 991px) {
    .tutorials {
        padding: 50px;
    }

    .other-videos {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .other-videos img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 479px) {
    .tutorials {
        padding: 40px 20px;
    }

    .other-videos {
        grid-template-columns: 1fr;
    }
}