.tutorials {
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.tutorials h2 {
  color: white;
  width: 100%;

  font-family: Jost;
  font-size: 55px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.035em;
  text-align: left;
}

.tutorials h2 span {
  color: var(--color-primary);
  text-decoration: underline;
}

.tutorials .main-video {
  max-width: 1100px;
  width: 100%;
}

.tutorials-wrapper {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  grid-gap: 16px;
  width: 100%;
}

.plyr--video {
  border-radius: 10px;
  background-color: white;
}

:root {
  --plyr-color-main: #6f39f8;
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
  aspect-ratio: 16/9 !important;
}


.other-video {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.video-title {
  margin: 0;
  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.video-title--main {
  margin-top: 20px;
  font-size: 16px;
}

.main-video > div {
  height: 384.6px;
  border-radius: 0px;
}

.other-videos img {
  width: 200px;
  height: 110px;
  object-fit: cover;
  opacity: 0.4;
  transition: opacity 300ms ease-in-out;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;
  width: 200px;
}

.video-thumbnail button {
  display: block;
  opacity: 0.3;
  transition: opacity 300ms ease-in-out;
}

.video-thumbnail:hover button {
  opacity: 1;
}

.video-thumbnail:hover img {
  opacity: 0.8;
}

.main-button {
  padding: 10px 28px;
  border-style: none;
  border-width: 2px;
  border-color: #6f39f8;
  border-radius: 100px;
  background-color: #8351ff;
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.035em;
  height: auto;
}

@media screen and (max-width: 1100px) {
  .tutorials {
    padding: 50px;
  }
}

@media screen and (max-width: 991px) {
  .tutorials {
    padding: 50px;
  }

  .other-videos img {
    width: 100%;
  }

  .video-title {
    display: none;
  }

  .tutorials-wrapper {
    grid-template-columns: 1fr 200px;
  }

  .tutorials h2 { 
  font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  .tutorials-wrapper {
    grid-template-columns: 1fr;
  }

  .other-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .tutorials,
  .tutorials-wrapper,
  .tutorials .main-video {
    max-width: 100%;
  }

  .main-video > div {
    height: 333px;
  }
  .video-thumbnail {
    width: auto;
  }

  .other-videos img {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .tutorials {
    padding: 20px 20px;
  }

  .video-thumbnail {
    width: 100%;
    height: 242px;
  }

  .other-videos {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .main-video > div {
    height: 242px;
  }

  .tutorials h2 { 
    font-size: 24px;
    }

    .hero-content-wrapper {
      padding: 20px;
      margin-bottom: 0;
    }
}
